
*.ds$
*.dst
*.bak
*.3dmbak
*.rhl
*.dwl
*.dwl2
*.tmp
*.boms
*.ccr
*.ifc
*.log
*.cube
InputFiles/0.glb
InputFiles/999_Combined_2022_Extended_NoFacade.glb
InputFiles/acad2gltf.fmw
InputFiles/ForMEGLTF.dwg
